<article class="product-card" data-product-id="<%- product._id %>">
    <h1><%= product.name %></h1>
    <% if(product.image) {%>
        <img src="<%- product.image %>" alt="<%= product.name %>" width="250"/>
    <% } %>
    <p><%= product.description %></p>
    <data value="<%= product.price %>" aria-label="מחיר"><%- utils.formatters.currency(product.price) %></strong>
    <div class="add-to-cart">
        <input type="number" min="0" name="ammount" aria-label="כמות" value="1"/>
        <button class="add-to-cart-button">
            <%= addButtonText %>
        </button>
    </div>
</article>