<button id="categories-create-dialog-open-button">צור קטגוריה</button>
<%- include("./dialogs/createDialog/index.ejs") %>
<%- include("./dialogs/editDialog/index.ejs") %>
<table id="categories-table">
    <thead>
        <tr>
            <th>פעולות</th>
            <th>שם קטגוריה</th>
            <th>כמות מוצרים</th>
        </tr>
    </thead>
    <tbody>
        <% categories.forEach((category) => { %>
            <tr data-category-id="<%= category._id %>">
                <td class="actions-cell">
                    <button class="delete-button" aria-label="מחק"><%- include('../../components/icon/index.ejs', {icon: 'delete'}) %></button>
                    <button class="edit-button" aria-label="ערוך"><%- include('../../components/icon/index.ejs', {icon: 'edit'}) %></button>
                </td> 
                <td><%=category.name%></td> 
                <td></td> 
            </tr>    
        <% }) %>
    </tbody>
</table>
<script type="module">
     <%- include('./script.js') %>
</script>