<div class="product-card" id="product-<%= product.id %>">
    <h2 class="product-name"><%= product.name %></h2>
    <p class="product-categories"><%= product.categories.join(', ') %></p>
    <p class="product-description"><%= product.description %></p>
    <p class="product-price">$<%= product.price.toFixed(2) %></p>
</div>