<button id="product-dialog-open-button">צור מוצר</button>
<%- include("./dialogs/createDialog/index.ejs", {categories}) %>
<table id="products-table">
    <thead>
        <tr>
            <th>פעולות</th>
            <th>שם</th>
            <th>קטגוריות</th>
            <th>תיאור</th>
            <th>מחיר</th>
            <th>תמונה</th>
        </tr>
    </thead>
    <tbody>
        <% products.forEach((product) => { %>
            <tr data-product-id="<%= product._id %>">
                <td class="actions-cell">
                    <button class="delete-button" aria-label="מחק"><%- include('../../components/icon/index.ejs', {icon: 'delete'}) %></button>
                    <button class="edit-button" aria-label="ערוך"><%- include('../../components/icon/index.ejs', {icon: 'edit'}) %></button>
                </td> 
                <td><%=product.name%></td> 
                <td>
                    <% product.categories.forEach((category, i) => { %>
                        <% const name = categories.find((cat) => cat._id.toString() === category.toString())?.name %>
                        <% if(name) { %>
                            <p><%= name %><% let seprator = i !== product.categories.length - 1 ? "," : ""%><%= seprator %></p>
                        <% } %>
                    <% }) %>
                </td> 
                <td><%=product.description%></td> 
                <td>
                    <%=utils.formatters.currency(product.price)%>
                </td> 
                <td>
                    <% if(product.image) {%>
                        <img src="<%- product.image %>" alt="<%- product.name %>" width="160"/>
                    <% } %>
                </td> 
                <td></td> 
            </tr>    
        <% }) %>
    </tbody>
</table>
<script type="module">
    window.createCategoryChip = function createCategoryChip(categoryId, categoryName){

        const hiddenInput = $('<input>').attr({
            type: "hidden",
            name: "categories",
            class: categoryId,
            value: categoryId
        })
        const buttonContent = $('<span>').html(categoryName.concat(' ','<span class="material-symbols-outlined">close</span>')) 
        const button = $('<button>').attr({
            'data-category-id': categoryId,
            class: "category-remove-button",
            type: "button"
        })
        .append(buttonContent)
        return {
            hiddenInput,
            button
        }
    }
    window.toggleCategoryAvailable = function(category_id) {
    const option = $("#product-dialog-categories-list").find('option').filter((_,option) => {
        return option.dataset.id === category_id
    })?.[0]
    if(!option) return
    if(option.getAttribute('disabled')){
        option.removeAttribute('disabled')
    }else {
        option.setAttribute('disabled',true)
    }
}
    <%- include('./script.js') %>
</script>